* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bubble-color: #558581;
}

body {
  background-color: rgb(255, 255, 255);
}

header {
  color: var(--bubble-color);
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  padding: 15px;
  text-shadow: 1px 1px 1px black;
}

h1 {
  margin-bottom: 10px;
  font-size: 38px;
}

p {
  font-size: 20px;
}

.main-bubble {
  width: 300px;
  height: 300px;
  background-color: var(--bubble-color);
  border-radius: 50%;
  box-shadow: 1px 2px 102px -19px var(--bubble-color);
  margin: auto;
  margin-top: 25px;
}


.input-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}